*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration: none;
}
body{
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    font-size: 14px;
}
input,img{
    border: none;
    vertical-align: top; 
}
.clear{
    zoom: 1;
}
.clear:after{
    display: block;
    content: "";
    height: 0;
    visibility: hidden;
}
.box1{
    line-height: 30px;
    height: 30px;
    background-color: black;
}
.box1 img{
    margin: 7px 7px 0 19px ;
}
.box1 a.app{
    color: #08d7a2;
    /*padding-top: 7px;*/
}
a .app:hover{
    color: #05eaaf;
}
.box1 span{
    padding: 0 12px;
    color: #5d5d5d;
}
.box1 a{
    color: #c4c3c3;
}
a:hover{
    color:white;
}
.box1 .two{
    /*position: absolute;*/
    margin: -30px 0;
    /*display: inline-block;*/
    float: right;
    padding-right: 20px;
}
.box2{
    border-top:1px solid #d2d2d2;
    border-bottom: 1px solid #e5e5e5;
    height: 58px;
    background-color: #fafafa;
    width: 100%;
}
.contenta{
    margin-left: 160px;
    margin-top: 10px;
}
.contentb{
    position: absolute;
    margin-left: 260px;
    margin-top: -26px;
}
.contentb span {
    padding-right: 6px;
    font-size: 18px;
    color: #333;
}
.contentb a{
    color: #999;
}
.box2 ul{
    position: absolute;
    margin-left: 426px;
    margin-top: -40px;
    /*float: left;*/
}
.box2 ul li{
    float: left;
    margin-right: 36px;
    height: 53px;
    line-height: 53px;
    font-size: 18px;
}
.box2 ul li a{
    display: block;
    height: 53px;
    padding: 0 5px;
    color: #999;
}
.box2 ul li a:hover,.box2 ul .on a {
    color: #333;
    border-bottom: 2px solid #00b38a;
}
.box3{
    width: 230px;
    height: 871px;
    background-color:#fafafa;
    margin-left: 151px;
    margin-top: 35px;
}
.contentc h4{
    font-size: 18px;
    font-weight: 500;
    padding-left: 22px;
    padding-top: 20px;
}
.contentc span{
    float: right;
    padding-right: 18px;
}
.contentd{
    padding-top: 9px;
    line-height: 25px;
}
.contentd ul{
    padding-left: 9px;
}
.contentd a{
    float: left;
    margin: 0 5px 5px 0;
    padding: 0 8px;
    font-size: 14px;
    color: #333333;
}
.box4{
    height: 180px;
}
.box5{
    height: 126px;
}
.box6{
    height: 92px;
}
.box4:hover{
    box-shadow:-2px -2px 0 rgb(201,203,206);
    background-color: white;
    border-bottom:2px solid #c9cbce;
}
    /*.contentd .one{
        float: left;
        margin: 0 22px;
    }*/
.box5:hover{
    box-shadow:-2px -2px 0 rgb(201,203,206);
    background-color: white;
    border-bottom:2px solid #c9cbce;
}
.box6:hover{
    box-shadow:-2px -2px 0 rgb(201,203,206);
    background-color: white;
    border-bottom:2px solid #c9cbce;
}

.contentd a:hover{
    text-decoration: underline;
    color: #00b38a;
}


.box7{
    height: 46px;
    width: 230px;
    background-color:#fafafa;
    margin-left: 151px;
    margin-top: 12px;
    border-bottom: solid 2px #00b38a;
}
.box7 a{
    /*float: left;*/
    font-size: 18px;
    line-height: 46px;
    padding-left: 40px;
    text-align: center;
    color:black;
}
.box7 a:hover{
    color: #00b38a;
}
.box7 img{
    float: right;
    padding-top: 12px;
    padding-right: 19px;
}
.box8{
    position: relative;
}

/*.con1{

    display: inline-block;
    float: right;
    margin-right: 150px;
    width: 712px;
    height:33px;
}*//*
.box8{
    width: 746px;
    height: 764px;

}*/
/*
.box9{
    position: absolute;
    /!*display: inline-block;*!/
    float: right;
    margin-right: 150px;
    width: 570px;
    height:33px;

}
*/









